@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-color: #F9F7F4;*/
  background-color: #f9f7f4;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 970px;
  margin: 30px auto;
}

h3 {
  /*color: #00635d;*/
  color: #2c2726;
}

.icon {
  border: none;
}

.icon:hover {
  border-bottom: solid 1px #2c2726;
}

.icon img{
  width: 20px;
  height: 20px;
}

.addedConfirmation {
  margin: 20px auto;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #DCD6CC 1px solid;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #F4F1EA;
  box-shadow:  0 1px 2px rgba(0,0,0,0.15);
  position: relative;
}


.addedConfirmation {
  padding: 40px 60px;
}


.closeBtn {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}


.logo {
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
}



